#modal {
	margin-top: 30px;
}

#div-syshead {
	border-bottom: 2px solid #e5e5e5;
}

#btn-row {
	margin: 2px 0px;
}

#btng-4 {
	float: right;
	margin-right: 5px;
}

#comparison-div {
	border-top: 2px solid #e5e5e5;
}
